* { font-family: "amazonEmber" !important; }
.swiper-container {
	width:600px;
	height:400px;
	border:5px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
}
#header_box .nav{
	float:right
}
#swipeSetting{
	position: relative;
	margin-left: 300px;
	width:"500px"
	height="500px"
	left="2000px"
	top= "1000px"
	width:"500px";
	height:"500px";
	left:"2000px";
	top:"1000px";
}

.section2 #section2{
	float:left;
}

#rightalign{
	margin-right: 10px;
	position: absolute;
	float: right;
}

header{
	overflow: hidden;
                 header{
	text-align:center;
}

#layoutBg{
.layoutBg{
  display: inline-block;
  display: flex;
  text-align: center;
}

#layoutPhotoSetting {
.layoutPhotoSetting {
	overflow: hidden;
	text-align: center;
	margin:25px;
                    header{
  }


  #swipeAlert{
 .swipeAlert{
	  text-align: center;
	  font-size: 20px;
	  font: black;
  }

  #sidebar{
	  position: fixed;
	  position: absolute;
	  size: fixed;
	  width: 10px;
	  height: 10px;
@@ -161,4 +156,31 @@ a{
  }
  a:active {
	color : white;
  } 
  }

  select {
	background: transparent;
	border: none;
	padding: 6px 12px;
  }
  button {
	padding: 6px 12px;
	background: transparent;
	border: none;
  }
  .input-group-addon {
	padding: 0!important;
  }

#searchbox{
	position: relative;
	margin-top: -45px;
}


#rightalign{
	position:absolute;
	right: 35px;
	overflow: hidden;
}


