body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: rgba(0,0,0,.8);
}
.material-icons {
    color: #f6f5f0;
    font-size: 32px;
    cursor: pointer;
}
header{
    position: absolute;
    will-change: opacity;
    background : #000;
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
nav {
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    width: 300px;
    background: #000;
    transform: translateX(-100%);
    transition: .4s;
}